$width: 160px;
$slider-width: 200px;
$button-size: 32px;
$top: 12%;
$center: 39%;
$bottom: 66%;
$top-sliderbutton: 90%;

body {
  margin: 0;
  background: #fff;
  text-align: center;
}

div {
  white-space: nowrap;
  overflow: hidden;
}

div p {
  font-weight: bold;
  margin: 0em 0;
}

.main {
  width: 100%;
}

.main div {
  width: 100%;
  margin: 0 auto;
}

.large {
  font-size: large;
}

.medium {
  font-size: medium;
}

.small {
  font-size: small;
}

.smaller {
  font-size: smaller;
}

.x-small {
  font-size: x-small;
}

.xx-small {
  font-size: xx-small;
}

#box1 {
  position: absolute;
  top: $top;
  left: 50%;
  width: $width;
  margin-left: -$width;
}

#box2 {
  position: absolute;
  top: $top;
  left: 50%;
  width: $width;
  margin-left: 0px;
}

#box3 {
  position: absolute;
  top: $center;
  left: 50%;
  width: $width;
  margin-left: -$width;
}

#box4 {
  position: absolute;
  top: $center;
  left: 50%;
  width: $width;
  margin-left: 0px;
}

#box5 {
  position: absolute;
  top: $bottom;
  left: 50%;
  width: $width;
  margin-left: -$width;
}

#box6 {
  position: absolute;
  top: $bottom;
  left: 50%;
  width: $width;
  margin-left: 0px;
}

#now {
  position: absolute;
  top: 4%;
}

#offset {
  position: absolute;
  top: 8%;
}

#slider {
  position: absolute;
  margin-left: -$slider-width/2;
  width: $slider-width;
  top: $top-sliderbutton;
}

input[type=range]::-webkit-slider-thumb {
  border: 15px solid;
}

#minus-button {
  position: absolute;
  width: $button-size;
  height: $button-size;
  top: $top-sliderbutton;
  left: 5%;
  border-radius: 5px;
}

#plus-button {
  position: absolute;
  width: $button-size;
  height: $button-size;
  top: $top-sliderbutton;
  left: 86%;
  border-radius: 5px;
}

