body {
  margin: 0;
  background: #fff;
  text-align: center;
}

div {
  white-space: nowrap;
  overflow: hidden;
}

div p {
  font-weight: bold;
  margin: -0.2em 0;
}

.main {
  width: 100%;
  text-align: center; /* for IE5.5 IE5 */
}

.main div {
  width: 100%;
  margin: 0 auto;
}

.large {
  font-size: large;
}

.medium {
  font-size: medium;
}

.small {
  font-size: small;
}

.smaller {
  font-size: smaller;
}

.x-small {
  font-size: x-small;
}

.xx-small {
  font-size: xx-small;
}

#box1 {
  position: absolute;
  top: 9%;
  left: 50%;
  width: 160px;
  margin-left: -160px;
}

#box2 {
  position: absolute;
  top: 9%;
  left: 50%;
  width: 160px;
  margin-left: 0px;
}

#box3 {
  position: absolute;
  top: 37%;
  left: 50%;
  width: 160px;
  margin-left: -160px;
}

#box4 {
  position: absolute;
  top: 37%;
  left: 50%;
  width: 160px;
  margin-left: 0px;
}

#box5 {
  position: absolute;
  top: 63%;
  left: 50%;
  width: 160px;
  margin-left: -160px;
}

#box6 {
  position: absolute;
  top: 63%;
  left: 50%;
  width: 160px;
  margin-left: 0px;
}

#now {
  position: absolute;
  top:1%;
}

#sli {
  position: absolute;
  top: 4%;
}

#slider {
  position: absolute;
  margin-left: -100px;
  width: 200px;
  top: 90%;
}

input[type=range]::-webkit-slider-thumb {
  border: 15px solid;
}

/*
#boxContainer {
  border: 1px solid #000000;
}
*/
